<div>
    <form role="form" ng-submit="updateConfdata()" >
            <div class="form-group">
                <label>Conference name</label>
                <input class="form-control" name="confTitle" placeholder="{{conference.confTitle}}" ng-model="confdata.confTitle" />
                <p class="help-block">Give a title for the Conference</p>
            </div>
            <div class="form-group">
                <label>Submission deadline</label>
                <input  class="form-control" type="date" name="submissionDeadline" ng-model="confdata.submissionDeadline"/>
                <p class="help-block">Currently this is set as {{conference.submissionDeadline|date:'medium'}}</p>
            </div>
            <div class="form-group">
                <label>Review deadline</label>
                <input  class="form-control" type="date" name="reviewDeadline" ng-model="confdata.reviewDeadline" />
                <p class="help-block">Currently this is set as {{conference.reviewDeadline|date:'medium'}}</p>
            </div>
            <div class="form-group">
                <label>Chairpersons</label>
                <ul ng-repeat="cp in conference.chairPerson">
                    <li>{{cp.username}}</li>
                </ul>
                
                <input class="form-control" name="chair" placeholder="Enter registered usernames here" ng-model="confdata.chair" typeahead="user as user.username for user in possiblechairs | filter:$viewValue | limitTo:3" />                

                 

            </div>
                <button type="submit" class="btn btn-default">Save Changes</button>
                <button type="reset" class="btn btn-default">Reset</button>
                            
    </form>
</div>

       